<div class="container footer">
    <div class="row">
        <div class="col-md-4">
            <span class="copyright">Copyright &copy; Rui Huang 2015</span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
                <li><a href="https://github.com/huangrui199126" title="github"><i class="fa fa-github fa-lg"></i></a>
                </li>
<!--
                <li><a href="https://www.facebook.com/rui.huang.186" title="facebook"><i class="fa fa-facebook"></i></a>
                </li>
-->
                <li><a href="https://www.linkedin.com/pub/huang-rui/96/b32/643" title="linkedin"><i class="fa fa-linkedin"></i></a>
                </li>
                </li>
                <li><a href="mailto:rui.huang.life@gmail.com" title="linkedin"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    <div class="col-md-4">
            <a href="#page-top">Go to Top</a>
        </div>
    </div>
</div>