<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs %>
    <!-- Default Javascript -->
    <% include js.ejs %>
    <script src="js/p5.js"></script>
    <script src="js/snakeGame.js"></script>
    </head>


<body>
    <title>Game Project</title>
    <!-- Navigation & Header -->
    <% include header.ejs %>
    
    
    <!-- Background-->
    <canvas id="background" width="auto" height="auto" class="container background" ></canvas>
    <div class="description">
        <div><h3>Start the Game: push any of <strong>a,w,s,d</strong> Key</div>
        <div><h3>Direction Control: <strong>a,w,s,d</strong></div>
        <div><h3>Pause Game: <strong>p</strong></div>
    </div>
    
    
    


</body>

</html>
