<nav class="navbar navbar-default " id="page-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"><img src="images/logo.jpg" class="logoImage"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="/proj">Projects</a>
                </li>
<!--                 <li>
                    <a class="page-scroll" href="#about">About</a>
                </li> -->
<!--
                <li>
                    <a class="page-scroll" href="/game">Snake Game Projects</a>
                </li>
-->
                <li>
                    <a class="page-scroll" href="/work">Work Experience</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Hi, I'm Rui</div>
            <div class="intro-heading">It's Nice To Meet You</div>
        </div>
    </div>
</header>


<!--
<nav class="navbar headerNav">
    <div class="container-fluid">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">Home</a></li>
                <li><a href="/proj">Projects</a></li>
                <li><a href="/game">Snake Game Projects</a></li>
                <li><a href="/work">Work Experience</a></li>
            </ul>
    </div>
        </nav>
-->
<!--
    <form method="get" action="/">
                    <button type="submit"><img src ="images/homepage.png" class="homeButtonImage"></button>
                    </form>-->
