<div class="row">
<div class="container mettelWork col-md-12" style="display:table;">
    <h2>Intern at MetTel as the Web Developer</h2>
    <div class="mettelImage">
        <h3>Staff View</h3>
        <img src="images/staffView.png"  class="img-responsive">
        <p>     I built this to view the ticket and assign the ticket to the stuff to solve the issue</p>
        <p>Tech used: knockoutjs, asp.net, c#, linq, jQuery, Json</p>
    </div>
    <div class="mettelImage">
        <h3>Snapshot</h3>
        <img src="images/snapshot.png"  class="img-responsive">
        <p>     I built this to view the ticket detial</p>
        <p>Tech used: knockoutjs, asp.net, c#, linq, jQuery, Json</p>
    </div>
    <div class="mettelImage">
        <h3>TermsOfUse</h3>
        <img src="images/terms-of-use.png"  class="img-responsive">
        <p>     I built this as the terms of use for the company, when the user first login into the system, the terms of use modal will pop up. If the user agree with the statement, then he can loggin to the dashboard, otherwise he will be redirected to the loggin page</p>
    </div>
    <div class="mettelImage">
        <h3>Real Time User</h3>
        <img src="images/real-time-user.png" class="img-responsive">
        <p>I built this with Kendo UI, the data is recorded through websocket(signalR), you can see the real time user online status </p>
        <p>Tech used: Websocket(signalR),moment.js
        </p>
    </div>
    
    <div class="mettelImage">
        <h3>UserHistory</h3>
        <img src="images/user-history.png" class="img-responsive">
        <p>     I built this with Kendo UI, the data is filtered by the login time and the logout time</p>
    </div>
</div>
