<div class="row">
    <div class="container mettelWork col-md-12" >
        <h2>Course Project: Social Web Page</h1>
        <div class="mettelImage">
            <h3>Home</h3>
            <img src="images/socialWebpage.png" class="img-responsive" >
            <p>You can send friend request through the search input with typehead of all the people who have registered on our website, the status, photo and messages you send is only available to your friend</p>
            <p>Tech used:jsp using servlet,javaDAO,javaBean and mysql(AWS RSD)</p>
        </div>
        <div class="mettelImage">
            <h3>FriendManagement Page</h3>
            <img src="images/friendManagement.png" class="img-responsive">
            <p>You can see the friends of your friend, but no more, by moving the mouse to the friend, there will be tooltip showing friend circle of him, you can move your friend to any circle you build , but can only exist in one circle, in this example, you can move Lily to Lover or Colleague circle</p>
        </div>
        <div class="mettelImage">
            <h3>Post modal</h3>
            <img src="images/post.png"  class="img-responsive">
            <p>You can post status,message and locations by the current City you are in and select the privacy of the message you send by friend level,privacy level circle level or all level </p>
            <p>Tech used:jsp and geolocation feature of html5</p>
        </div>
        <h2>Build the SnakeGame with j5.js</h2>
    <a class="page-scroll" href="/Game">Snake Game</a>
    <p>I have build this game using the html5 canvas and use p5.js to control the movement of the snake by a linkedlist as the body of the snake, I just change the direction of the snake head, the body will follow the head, in this case the node will always follow the trace of the revious node </p>
    </div>
    
</div>

