<div class="row">
<div class="container mettelWork col-md-12" style="display:table;">
    <div class = "youtubesContainer">

        <h3>Apple WWDC 2015</h3>
        <iframe  src="https://www.youtube.com/embed/02H3vfFW3xg" frameborder="0" allowfullscreen class="youtube"></iframe>
        <P>Published on Jun 9, 2015</P>
        <ul>
            <li>June 2015 Special event</li>
            <li>00:09:48 - OS X El Capitan </li>
            <li>00:27:44 - iOS 9</li>
            <li>1:25:00 - WatchOS</li>
            <li>1:43:23 - Apple Music</li>
        </ul>

        <h4>Sessions:</h4>
        <p>Swift - https://www.youtube.com/watch?v=KgP9Q...</p>
        <p>New system font - https://www.youtube.com/watch?v=t4Xeq...</p>
    </div>
    <div class = "youtubesContainer">

        <h3>Google IO 2015</h3>
        <iframe  src="https://www.youtube.com/embed/7V-fIGMDsmE" frameborder="0" allowfullscreen class="youtube"></iframe>

        <p>Streamed live on May 28, 2015</P>
    <P>On May 28, 2015 we welcomed 6,000 developers to our 8th annual Google I/O developer conference in San Francisco. Google I/O 2015 kicked-off with a live keynote from our Senior Vice-President of Products, Sundar Pichai. The crowd in San Francisco was joined by millions more watching on the live stream and 530 I/O Extended events, in 90+ countries across six continents.</P>

    <P>Read 2015 I/O announcements on our blog: http://goo.gl/ni0o1l.
        Watch all Google I/O 2015 videos at: g.co/dev/io15videos. </p>
</div>
</div>




<!--
<div class = "infoi">
<iframe width="560" height="315" src="https://www.youtube.com/embed/I7NR9MLK5W4" frameborder="0" allowfullscreen class="youtubes"></iframe>
-->

